Flask==2.2.3
Flask-SQLAlchemy==3.0.3
SQLAlchemy==1.4.46
Flask-RESTful==0.3.9
PyMySQL==1.0.2
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.28.2
Flask-Cors==3.0.10
jsonschema==4.17.3
requests==2.28.2
python-dotenv==0.21.1
black==23.1.0
mypy==1.0.1
ruff==0.0.252
