.dropdown-menu.custom {
  max-height: 300px;
  overflow-y: auto;
}

.dropdown .input-row {
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dropdown .input-row .label {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}
